html {
    background-color:#FFF1FF;
    margin: 0;
}

@font-face {
    font-family: "ArialNarrow";
    src: url(fonts/arial-narrow.ttf);
}

@font-face {
    font-family: "EditorialItalic";
    src: url(fonts/PPEditorialNew-UltralightItalic.otf);
}

@font-face {
    font-family: "EditorialRegular";
    src: url(fonts/PPEditorialNew-Ultralight.otf);
}

.intro {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 20vw;
    margin-right: 15vw;
}

#elaborate {
    text-align: left;
    display: flexbox;
    font-family: 'ArialNarrow', serif;
    font-weight: 500;
    font-size: 3vh;
    margin-top: 0;
    padding-left: 10px;
    color:#8A42AF;
    text-shadow: #ECDDDD 1px 0 10px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.animated-text {
    font-family: 'ArialNarrow', serif;
    font-size: 5.5vh;
    text-shadow: #ECDDDD 1px 0 10px;
    text-align: left;
}

h1 {
    position: relative;
    margin-top: 10vh;
    z-index: 40;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #8A42AF;
    font-size: 10vh;
    text-align: center;
    line-height: 0.5vh;
    font-family: 'EditorialRegular';
}

#wrapper {
    margin-left: 4vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 63vh 11vh auto auto;
    margin-top: 3vh;
    position: relative;
}

.sparkle-text {
    grid-row: 2;
    font-family: 'EditorialItalic';
    text-align: center;
    font-size: 2.5em;
    color: #8A42AF;
    font-weight: 200;
}

.sparkle-text a {
    color: #8A42AF;
    animation: smallglow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFBFF1, 0 0 20px #F2B9FF, 0 0 25px #DBCFDD, 0 0 30px #F2B9FF, 0 0 35px #FFBFF1;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #FFBFF1, 0 0 20px #F2B9FF, 0 0 25px #DBCFDD, 0 0 30px #F2B9FF, 0 0 40px #FFBFF1, 0 0 50px #FFB0E1;
    }
  }
  @keyframes smallglow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #FFBFF1, 0 0 10px #F2B9FF, 0 0 12px #DBCFDD, 0 0 10px #F2B9FF, 0 0 8px #FFBFF1;
    }
    to {
      text-shadow: 0 0 4px #fff, 0 0 10px #FFBFF1, 0 0 16px #F2B9FF, 0 0 20px #DBCFDD, 0 0 24px #F2B9FF, 0 0 20px #FFBFF1, 0 0 16px #FFB0E1;
    }
  }

.heart-frame {
    position: flex;
}

#erika-heart {
    grid-column: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    overflow: hidden;
    max-height: 65vh;
}

#erika-devil {
    grid-column: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    overflow: hidden;
    max-height: 65vh;
    animation: glitch 3s infinite ease-in-out;
}


#trisha-heart {
    grid-column: 2;
    grid-row: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 65vh;
}

#trisha-devil {
    grid-column: 2;
    grid-row: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 65vh;
    animation: glitch 3s infinite ease-in-out;
}

#chaya-heart {
    grid-column: 3;
    grid-row: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 65vh;
}

#chaya-devil {
    grid-column: 3;
    grid-row: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 65vh;
    animation: glitch 3s infinite ease-in-out;
    position: flex;
}

@keyframes glitch {
    0%{opacity: 25%; transform: translate(0,0); filter: blur(2px);}
    25%{opacity: 80%; transform: translate(1,1); filter: blur(0.5px);}
    50%{opacity: 100%; transform: translate(2,2); filter: blur(0px);}
    75%{opacity: 80%; transform: translate(1,1); filter: blur(0.5px);}
    100%{opacity: 25%; transform: translate(0,0); filter: blur(2px);}
}
#pin-cushion p {
    color:#8A42AF;
    font-family: 'ArialNarrow', serif;
    font-weight: 400;
    font-size: 2.5vh;
}

#pin-graphic {
    width: 50vw;
    display: block;
    position: absolute;
    margin-top: 8vh;
    margin-left: 25vw;
    z-index: -1;
}

#queer-info-active {
    margin-left: 18vw;
    margin-top: 13vh;
    width: 21vw;
    padding: 10px;
    position: absolute;
    background-color: #FFF1FF;
    border: 1px solid #8A42AF;
}

#victim-info-active {
    margin-left: 45vw;
    width: 18.5vw;
    margin-top: 7vh;
    position: absolute;
    background-color: #FFF1FF;
    border: 1px solid #8A42AF;
    padding: 10px;
}

#exploit-info-active {
    width: 25vw;
    position: absolute;

    margin-left: 65vw;
    margin-top: 21vh;
    background-color: #FFF1FF;
    border: 1px solid #8A42AF;
    padding: 10px;
}

.tag {
    position: absolute;
    color:#FFF1FF;
    font-family: "EditorialRegular";
    font-size: 2em;
    line-height: 1em;
    background-color:#8A42AF;
    height: auto;
    text-align: center;
    z-index: 2;
}

#exploit-tag {
    width: 26vw;
    border: 5px solid #8A42AF;
    margin-left: 65vw;
    margin-top: 13vh;
}

#victim-tag {
    border: 5px solid #8A42AF;
    margin-left: 45vw;
    width: 19.5vw;
}

#queer-tag {
    border: 5px solid #8A42AF;
    margin-left: 18vw;
    margin-top: 9vh;
    width: 22vw;
}

#exploit-info-notactive {
    display: none;
}

#victim-info-notactive {
    display: none;
}

#queer-info-notactive {
    display: none;
}